---
// import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- <Welcome /> -->

  <h1 class="text-3xl font-bold underline text-center mb-4 w-">PROYECTO</h1>

  <button id="getAllUser" class="m-4 hover:bg-gray-400 cursor-pointer rounded-[10px] bg-gray-300 p-2 text-gray-800 font-bold border border-gray-950"> OBTENER USUARIOS </button>

  <button id="getUser" class="m-4 hover:bg-gray-400 cursor-pointer rounded-[10px] bg-gray-300 p-2 text-gray-800 font-bold border border-gray-950"> OBTENER UN USUARIO </button>

  <button id="addUser" class="m-4 hover:bg-gray-400 cursor-pointer rounded-[10px] bg-gray-300 p-2 text-gray-800 font-bold border border-gray-950"> CREAR USUARIO </button>

  <button id="updateUser" class="m-4 hover:bg-gray-400 cursor-pointer rounded-[10px] bg-gray-300 p-2 text-gray-800 font-bold border border-gray-950"> ACTUALIZAR USUARIO </button>

  <button id="deleteUser" class="m-4 hover:bg-gray-400 cursor-pointer rounded-[10px] bg-gray-300 p-2 text-gray-800 font-bold border border-gray-950"> BORRAR USUARIO </button>
</Layout>

<script>
  const getAllUser = document.getElementById('getAllUser');

  getAllUser?.addEventListener('click', () => {
    //get all user
    fetch('http://127.0.0.1:3000/user')
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  });

  const getUser = document.getElementById('getUser');

  getUser?.addEventListener('click', () => {
    //get all user
    fetch('http://127.0.0.1:3000/user/2')
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  });

  const deleteUser = document.getElementById('deleteUser');

  deleteUser?.addEventListener('click', () => {
    //get all user
    fetch('http://127.0.0.1:3000/user/2', {
      method: 'DELETE',
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  });

  const addUser = document.getElementById('addUser');

  const newUser = {
    name: 'TEST',
    lastname: 'TTTTT',
    age: 11,
  };

  addUser?.addEventListener('click', () => {
    //get all user
    fetch('http://127.0.0.1:3000/user', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(newUser),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  });

  const updateUser = document.getElementById('updateUser');

  const UserMod = {
    name: 'CAMBIE EL NAME',
  };

  updateUser?.addEventListener('click', () => {
    //get all user
    fetch('http://127.0.0.1:3000/user/2', {
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(UserMod),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  });
</script>
