<nav class="w-full p-2 bg-blue-100 flex gap-2 items-center">
    <h1 class="font-bold text-2xl text-nowrap ml-6">MI APP</h1>
    <ul class="flex gap-2 w-full p-4 ">
        <li><a class="border-1 border-black px-2 py-1 rounded-xl font-bold hover:bg-indigo-300" href="/users">Ver usuarios</a></li>
        <li><a class="border-1 border-black px-2 py-1 rounded-xl font-bold hover:bg-indigo-300" href="/users/create">Crear usuario</a></li>
        <li><a class="border-1 border-black px-2 py-1 rounded-xl font-bold hover:bg-indigo-300" href="/users/edit">Editar usuario</a></li>
        <li><a class="border-1 border-black px-2 py-1 rounded-xl font-bold hover:bg-indigo-300" href="/users/delete">Eliminar usuario</a></li>
    </ul>
</nav>
<hr class="mb-8"/>
